* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
    color: #F1F5F9;
}

body {
    background-color: #121212;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    /* background-color: yellow; */
}

.containerNavbar{
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* background-color: yellow; */
}

.containerKotak{
    max-width: 500px;
    width: 100%;
}

.item{
    border: 1px solid black;
    border: none;
}

.col30 {
    width: 30%;
}


