* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F1F5F9;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    /* background-color: yellow; */
}

.containerNavbar{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* background-color: yellow;     */
}

.containerKotak{
    max-width: 630px;
    width: 100%;
}

.item{
    border: 1px solid black;
    border: none;   
}

.col30 {
    width: 30%;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}


