.containerNavbar {
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: larger;
    top: 0;
    position: sticky;
}

.containerNavbar a {
    text-decoration: none;
    color: black;
}

#kananNavbar {
    gap: 40px;
}

#body1kiri {
    font-size:larger;
    align-content: center;
}

#body1kanan img{
    max-width: 600px;
    width: 100%;
    height: 600px;
    top: 10px;
}

#body1kanan {
    align-items: center;
    justify-content: center;
}

#body1 {
    justify-content: space-between;
    padding: 140px 0px;
    /* color: white; */
}

#bulat {
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
}

#kotak {
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px 40px;
    background-color: black;
    color: white;
}

#skill {
    gap: 20px;
}

#skill img {
    max-width: 70px;
    width: 100%;
}

#body1kiri h1 {
    font-size: 100px;
}

#body2kanan img {
    max-width: 400px;
    width: 100%;
    height: 300px;
    border-radius: 50%;
}

#body2kanan {
    justify-content: center;
}

#body2 {
    justify-content: space-between;
    padding: 50px 0px;
    /* color: white; */
    gap: 100px;
}

#body2atas {
    display: block;
    text-align: center;
    font-size: x-large;
    width: 800px;
}

#body2kiri {
    font-size: larger;
    width: 600px;
}

#body2bawah {
    justify-content: center;
    gap: 20px;
}

#kotakbody2 {
    font-size: 20px;
    justify-content: space-between;
    padding: 15px 15px;
}

#border {
    background-color: rgb(208, 204, 204);    
    border-radius: 5px;
    max-width: 450px;
    width: 100%;
}

.atas {
    padding-top: 140px;
}

.bawah {
    padding: 100px;
}

#pemisah {
    margin-top: 30px;
}

#borderkotak {
    border: 1px solid green;    
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
}

#jarak {
    justify-content: space-between;
}

#gbrKotak img {
    width: 100%;
}

#body3bawah {
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#body3atas {
    display: block;
    text-align: center;
    background-color: gray;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}

#home {
    background-color: #eff0f3;
}

#about {
    background-color: #eff0f3;
}

#tengah {
    justify-content: center;
}

#gbrKotak img{
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
}

.btn {
    background-color: rgb(176, 49, 49);
    background: none;
    border-radius: 5px;
    padding: 8px 20px;
}

.btn1 {
    background-color: rgb(235, 221, 221);
    border-radius: 5px;
    padding: 8px 35px;
}

#body4bawah {
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#body4bawah img{
    width: 100%;
}