.containerNavbar {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    top: 0;
    position: sticky;
}

.containerNavbar a {
    text-decoration: none;
    color: black;
}

#kananNavbar {
    gap: 40px;
}

#body1kiri {
    font-size:larger;
    align-content: center;
}

#body1kanan img{
    max-width: 400px;
    width: 100%;
}

#body1 {
    justify-content: space-between;
    padding: 140px 0px;
    /* color: white; */
}

#bulat {
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
}

#kotak {
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px 40px;
    background-color: black;
    color: white;
}

#skill {
    gap: 20px;
}

#body1kiri h1 {
    font-size: 100px;
}

#body2kanan img {
    max-width: 400px;
    width: 100%;
    height: 300px;
    border-radius: 50%;
}

#body2kanan {
    justify-content: center;
}

#body2 {
    justify-content: space-between;
    padding: 50px 0px;
    /* color: white; */
    gap: 100px;
}

#body2atas {
    display: block;
    text-align: center;
    font-size: x-large;
    width: 800px;
}

#body2kiri {
    font-size: larger;
    margin-left: 30px;
    width: 600px;
}

#body2bawah {
    justify-content: center;
    gap: 20px;
}

#kotakbody2 {
    font-size: 20px;
    justify-content: space-between;
    padding: 15px 15px;
}

#border {
    border: 1px solid green;    
    border-radius: 5px;
    max-width: 450px;
    width: 100%;
}

.kiri {
    margin-left: 30px;
}

.kanan {
    margin-right: 30px;
}

.atas {
    padding-top: 140px;
}

.bawah {
    padding: 100px;
}

/* #body2bawah {
    padding-bottom: 50px;
} */

#pemisah {
    margin-top: 10px;
}

#borderkotak {
    border: 1px solid green;    
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
}

#jarak {
    justify-content: space-between;
}

#gbrKotak img {
    width: 100%;
}

#body3bawah {
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#body3atas {
    display: block;
    text-align: center;
}