.containerNavbar {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
}

#navbar {
    top: 0;
    position: sticky;
    z-index: 999;
}

.containerNavbar a {
    text-decoration: none;
    color: #F1F5F9;
}

#kananNavbar {
    gap: 40px;
}

#body1kiri {
    font-size:larger;
    align-content: center;
}

#body1kanan img{
    max-width: 600px;
    width: 100%;
    height: 600px;
    top: 10px;
}

#body1kanan {
    align-items: center;
    justify-content: center;
}

#body1 {
    justify-content: space-between;
    padding: 140px 0px;
    /* color: white; */
}

#bulat {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px;
}

#kotak {
    border-radius: 5px;
    padding: 10px 40px;
    background-color: #10B981;
    color: #121212;
    transition: 0.3s ;
}

#kotak:hover {
    background-color: #059669;
}

#skill {
    gap: 20px;
}

#skill img {
    max-width: 70px;
    width: 100%;
}

.btn3 {
    cursor: pointer;
    transition: 0.3s;
}

.btn3:hover {
    transform: scale(1.2);
}

#body1kiri h1 {
    font-size: 100px;
}

#body2kanan img {
    max-width: 400px;
    width: 100%;
    height: 300px;
    border-radius: 50%;
}

#body2kanan {
    justify-content: center;
}

#body2 {
    justify-content: space-between;
    padding: 50px 0px;
    /* color: white; */
    gap: 100px;
}

#body2atas {
    display: block;
    text-align: center;
    font-size: x-large;
    width: 800px;
}

#body2kiri {
    font-size: larger;
    width: 600px;
}

#body2bawah {
    justify-content: center;
    gap: 50px;
}

#kotakbody2 {
    font-size: 20px;
    justify-content: space-between;
    padding: 15px 15px;

    background-color: #1E293B;
    transition: 0.5s;
    border-radius: 5px;
}

#kotakbody2:hover {
    background-color: #334155;
    transform: scale(1.1);
}

.donker {
    background-color: #1E293B;
}

#border {
    background-color: #0F172A;    
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

.atas {
    padding-top: 140px;
}

.bawah {
    padding: 100px;
}

#pemisah {
    margin-top: 30px;
}

#borderkotak {
    max-width: 500px;
    width: 100%;
}

#jarak {
    justify-content: space-between;
}

#gbrKotak img {
    width: 100%;
}

#body3bawah {
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

#body3atas {
    display: block;
    text-align: center;
    background-color: gray;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}

#navbar {
    background-color: rgb(169, 168, 168);
}

#tengah {
    justify-content: center;
}

#gbrKotak img{
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
    padding: 8px 20px;
    transition: 0.5s;
    color: #10B981;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(16, 185, 129, 0.1);
}


.btn1 {
    background-color: #10B981;
    border-radius: 5px;
    padding: 8px 35px;
    transition: 0.3s;
    color: #121212;
}

.btn1:hover {
    background-color: #059669;
    cursor: pointer;
}

#body4bawah {
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

#body4bawah img{
    width: 100%;
}

#gbrKotak4 img{
    max-width: 100px;
    width: 100%;
    border-radius: 8px;
}

#gbrKotak4 {
    padding: 20px;
    transition: 0.3s;
    border-radius: 10px;
}

#kotakSkill {
    margin: 20px 0px;
    justify-content: center;
    gap: 20px;
}

#gbrKotak4:hover {
    transform: scale(1.1);
    background-color: rgb(69, 81, 105);
}

.abu {
    background-color: #1E293B;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.abu:hover {
    transform: scale(1.1);
}

#btn4 {
    transition: 0.5s;
    padding: 10px 30px;
    border-radius: 10px;
}

#btn4a {
    padding: 10px 30px;
    border-radius: 10px;
}

#btn4:hover {
    background-color: rgb(199, 195, 195);
}

.btn-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:#059669;
    padding: 10px;
    border-radius: 10%;
    z-index: 999;
}